<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Editing Room ' + ${room.getRoomNumber()}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <th:block th:replace="~{header :: header}"></th:block>
    <br>

    <div class="col-md-2 offset-md-5">
        <h2 th:text="'Editing Room ' + ${room.getRoomNumber()}"/>
    </div>

    <div class="col-sm-8 offset-sm-3">
        <form class="form-horizontal" th:action="@{|/rooms/${room.id}/update|}" th:object="${room}" method="post">
            <div class="form-group">
                <label class="col-form-label" for="roomNumber">Room Number:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" th:field="*{roomNumber}" id="roomNumber"/>
                </div>
                <span style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{roomNumber}"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="roomClass">Room Class:</label>
                <div class="col-sm-8">
                    <select class="form-control" name="roomClass" id="roomClass">
                        <span th:each="class : ${roomClasses}">
                            <option th:if="${class == room.roomClass}" th:value="${class}"
                                    th:selected="${true}"
                                    th:text="${class.name().substring(0, 1) + class.name().substring(1).toLowerCase()}"/>
                            <option th:unless="${class == room.roomClass}" th:value="${class}"
                                    th:text="${class.name().substring(0, 1) + class.name().substring(1).toLowerCase()}"/>
                        </span>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="bedsNumber">Number of beds:</label>
                <div class="col-sm-8">
                    <select class="form-control" name="bedsNumber" id="bedsNumber" th:field="*{bedsNumber}">
                        <span th:each="number : ${bedsNumbers}">
                            <option th:if="${room.bedsNumber == number}" th:value="${number}" th:selected="${true}"
                                    th:text="${number}"/>
                            <option th:unless="${room.bedsNumber == number}" th:value="${number}"
                                    th:text="${number}"/>
                        </span>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="price">Price Per Day:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" th:field="*{price}" id="price"/>
                </div>
                <span style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{price}"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="isAvailable">Availability:</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isAvailable" id="isAvailable">
                        <option th:value="${true}">available</option>
                        <option th:value="${false}">not available</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" class="btn btn-info" value="Update"/>
                <input type="reset" class="btn btn-danger" value="Clear"/>
            </div>
        </form>
    </div>

</body>
</html>